:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: var(--greyLight-1);
}

@media screen and (min-width: 900px) {
    html {
        font-size: 75%;
    }
    .container {
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
        background: var(--greyLight-1);
        padding-top: 10%;
    }
    .components {
        width: 60%;
        height: 60%;
        border-radius: 3rem;
        box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(autofit, min-content);
        grid-template-rows: repeat(autofit, -webkit-min-content);
        grid-template-rows: repeat(autofit, min-content);
        grid-column-gap: 1.5rem;
        grid-row-gap: 2.5rem;
        align-items: center;
    }
    /* UPDATED FOR BACK BUTTON ON DESKTOP */
    .components2 {
        width: 60%;
        height: auto;
        border-radius: 3rem;
        box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
        padding: 4rem;
        display: none;
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        align-items: center;
    }
    .wrapper {
        width: inherit;
        height: inherit;
        grid-template-columns: repeat(autofit, min-content);
        grid-template-rows: repeat(autofit, -webkit-min-content);
        grid-template-rows: repeat(autofit, min-content);
        grid-column-gap: 1.5rem;
        grid-row-gap: 2.5rem;
        justify-items: center;
        margin-bottom: 5%;
        margin-left: 31.3%;
    }
    /* BUTTONS  */
    .btn {
        width: 15rem;
        height: 4rem;
        border-radius: 1rem;
        box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .btn__primary {
        grid-column: 1/2;
        grid-row: 3/5;
        background: var(--primary);
        box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
        color: var(--greyLight-1);
    }
    .btn__primary:hover {
        color: var(--white);
    }
    .btn__primary:active {
        box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light
